<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: head ('Viewing Post')"></head>
<body class="main">
<nav th:replace="partials/navbar :: navbar"></nav>
<header></header>
<main class="container">
    <div class="card offwhite-body">
        <div class="card-content">
            <h1>Edit post</h1>
            <form method="post" th:action="@{/posts/{id}/edit (id=${post.id})}" th:object="${post}">
                <input style="width: 25em"  class="card-title" th:value="${post.title}" name="title"
                       th:field="*{title}"/>
                <br>
                <textarea style="width: 25em; height: 12em" th:text="${post.body}" class="i-like-paragraphs"
                          name="body" th:object="*{body}"></textarea>
                <br>
                <button type="submit" name="save">Save changes</button>
            </form>
            <br />
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>