<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head ('Viewing Post')" />
<body class="main">
<nav th:replace="partials/navbar :: navbar" />
<header></header>
<main class="container">
    <div class="card offwhite-body">
        <div class="card-content">
            <h3 class="card-title" th:text="${post.title}" />
            <p th:text="${post.body}" class="i-like-paragraphs" />
            <p th:text="${post.user.email}"></p>
            <br />
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer" />
</body>
</html>