<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head ('Viewing Ad')"></head>
<body class="main">
<nav th:replace="partials/navbar :: navbar"></nav>
<header></header>
<main class="container">
    <div class="card offwhite-body">
        <div class="card-image">
            <img src="../static/img/big-bar.png" th:src="@{/img/}" alt="" />
        </div>
        <div class="card-content">
            <h3 class="card-title" th:text="${ad.title}"></h3>
            <p th:text="${ad.description}" class=""></p>
            <p th:text="${ad.user.username}"></p>
            <div>
                <span th:each="cat : ${ad.categories}">
                    | <span th:text="${cat.name}"></span> |
                </span>
            </div>
            <br />
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>